h3 How do I back this start-up?
p First, chose the value and reward you wish. Then we will redirect you to #{link_to "MoIP", "http://www.moip.com.br/", :target => :_blank} so you can proceed with the payment.
h3 When is the payment made and confirmed?
p Shortly after your credit card company confirms the transaction. After that, if the startu-up doesn't reach #{@project.display_goal} until #{@project.display_expires_at}, you will receive your money back as credits on bigcolors.
h3 Do I receive my money back if the start-up doesn't succeed?
p Yes! You receive 100% back as credits to back other start-ups on bigcolors.
h3 What if I don't want to use credits on bigcolors?
p No problem. Just go to #{link_to t('credits.title'), credits_path, :target => :_blank}, up until 180 days after your payment, and request a refund. If you paid with credit cards, the refund will be returned via Paypal. If you paid via Direct Deposit/Bank Transfer, we will refund your payment within 3 business days of the withdrawal request. Funds will be transferred to your bank.
h3 If the start-up is successful, how do I receive my shares?
p When the company has incorporated in Hong Kong, Bigcolors Account representative will contact you to arrange delivery of documentation. Shares will be allocated you upon successful completion of the company. Please allow up to 8 weeks for the process to be finalized.
